In [2]:
# !pip install lorem

In [3]:
import random
import os
import glob
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
import lorem
import nltk
nltk.download('wordnet')
from nltk.corpus import wordnet as wn

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Gega_PC\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

In [5]:
# Get a list of nouns, this will be the basis of our Titles
noun_list = []
for synset in wn.all_synsets('n'):
    for lemma in synset.lemmas():
        noun_list.append(lemma.name())

# A collection of first and last names Ihave collected
result = pd.read_csv('Random_names_master.csv')
first_name_list = result['first_name'].tolist()
last_name_list = result['last_name'].tolist()

In [6]:
# todo: add random number and random amount for price
class DataGen:
    """
    """
    def __init__(self,size):
        self._size = size
        
    def list_pick(self,choice_list,uniform = True,probability_array = None):
        """list_pick() -> list
          Keyword arguments:
          choice_list       -- list of items you want to choose from
          uniform           -- boolean parameter for uniform or non uniform selection from your list (default = True)
          probability_array -- if uniform = False this array will determin the probability you want each list element 
                               to be selected with (default = None)
                               IMPORTANT: probability_array elements must add up to 1.
        """
        result_list = []
        if uniform == True:
            for i in range(self._size):
                result_list.append(choice_list[random.randint(0,len(choice_list)-1)])
            return result_list
        elif uniform == False and probability_array == None:
            print('Please choose a probability array for your non uniform selection')
            pass
        elif uniform == False and probability_array != None:
            _choice_list = choice_list
            _probability_array = probability_array
            result_list = np.random.choice(_choice_list, self._size, p=_probability_array).tolist()
            return result_list
        else:
            print('Error: Something wrong! Please read the docstring for guidance on each parameter')
            pass
        
    def descr_gen(self): 
        """descr_gen() -> list
        """
        result_list = []
        for i in range(self._size):
            result_list.append(lorem.sentence())
        return result_list
    
    def title_gen(self,list_of_words = noun_list):
        """title_gen() -> list
            Keyword arguments:
            list_of_words -- list of words you want to choose from
        """
        result_list = []
        for i in range(self._size):
            result_list.append(list_of_words[random.randint(0,len(list_of_words)-1)].lstrip() +" "+ list_of_words[random.randint(0,len(list_of_words)-1)])
        return result_list
    
    def date_gen(self,start_year= 1950, end_year= 2020,set_month=None):
        """date_gen() -> list
        This function will return a random date between two years.
           Keyword arguments:
           start_year -- start limit of your year 
           end_year -- end limit of your year
           set_month -- if you want to hard code the month
        """
        result_list = []
        for i in range(self._size):
            year = random.choice(range(start_year, end_year))
            if set_month == None:
                month = random.choice(range(1, 13))
            else:
                month = set_month
            day = random.choice(range(1, 29))
            result_list.append(f'{year}/{month}/{day}') # datetime(year, month, day)
        return result_list
    
    def gen_random_name(self,list_1 = first_name_list,list_2 = last_name_list):
        """gen_random_name() -> list
            Keyword arguments:
            list_1 -- first list you want to randomly pick from
            list_2 -- second list you want to randomly pick from
        """        
        result_list = []
        for i in range(self._size):
            end_range_f = len(list_1) - 1
            end_range_l = len(list_2) - 1
            name = str(list_1[random.randint(0,end_range_f)].rstrip().lstrip())+" "+str(list_2[random.randint(0,end_range_l)])
            result_list.append(name)
        return result_list

## Example of uses

Let's say we need to mock up data for a publishing licensing company

In [14]:
# Generate data on books
Books = DataGen(10)
book_data = pd.DataFrame({
    'author_name': Books.gen_random_name(),
    'publishing_ate': Books.date_gen(2000,2018),
    'title':Books.title_gen(),
    'descr' : Books.descr_gen(),
    'book_type':Books.list_pick(['Fiction', 'Non - Fiction'],False,[0.8,0.2]),
    'author_sex':Books.list_pick(['Male', 'Female'],False,[0.4,0.6]),
    'genre':Books.list_pick(['Satire', 'Drama','Romance', 'Self help'],False,[0.4,0.4,0.1,0.1]),
    'publisher' : Books.list_pick(['Hachette', 'HarperCollins','Macmillan', 'Penguin Random'])})

In [15]:
book_data

,author_name,author_sex,book_type,descr,genre,publisher,publishing_ate,title
0,terrence j joseph,Female,Fiction,Dolore non labore dolorem.,Self help,HarperCollins,2001/1/12,temporal_ccortex export_duty
1,trevon l james,Female,Fiction,Ipsum velit quiquia consectetur dolorem ut.,Romance,HarperCollins,2005/6/7,nycturia aqua_regia
2,ronnie l sirias,Male,Fiction,Ipsum sit dolor sit tempora adipisci velit.,Drama,Penguin Random,2009/5/20,Aalto self-aggrandizement
3,edi prince,Female,Fiction,Modi velit neque amet.,Drama,HarperCollins,2009/6/3,gismo Herbart
4,antonio a robinson,Male,Fiction,Dolor neque dolor labore dolor aliquam sit.,Satire,Macmillan,2014/10/18,lever_lock confectionery
5,matthew flores,Male,Fiction,Sit magnam aliquam dolorem dolore labore ut qu...,Drama,Penguin Random,2007/10/28,Kuchean hand_line
6,everett a donahue,Female,Fiction,Etincidunt sed porro est.,Romance,Penguin Random,2017/1/8,Coryphaena_hippurus tampion
7,travarus r hampton,Female,Fiction,Sit ipsum velit labore adipisci.,Romance,Penguin Random,2003/8/27,naturalness Phoeniculus
8,kayla m rogers,Female,Non - Fiction,Quaerat quiquia sed quiquia aliquam magnam ali...,Satire,Hachette,2001/12/8,insulin_shock_treatment Freyr
9,tromain a santiago,Female,Fiction,Modi neque ut amet est.,Drama,Hachette,2002/2/20,hair-tailed_mole Vultur_gryphus

In [17]:
# generate dummy characters
character = DataGen(50)

character_data = pd.DataFrame({
    'charachter_name': character.gen_random_name(),
    'charachter_type': character.list_pick(['human','alien','other'],False,[0.5,0.3,0.2]) 
})
character_data.head()

     charachter_name charachter_type
0   larry f jr banks           alien
1     omar g johnson           alien
2   tristan l adkins           other
3        datron benn           human
4  kenneth j jackson           other

In [26]:
# link characters to the generated books
character_book = DataGen(100)

character_book_relationship = pd.DataFrame({
    'book':character_book.gen_random_name(book_data['title'].tolist(),['']),
    'charachter': character_book.gen_random_name(character_data['charachter_name'].tolist(),[''])
    })

In [27]:
character_book_relationship.head()

                book/charachter               juhgv
0                gismo Herbart     ravelle jackson
1  Coryphaena_hippurus tampion          eddy hills
2     lever_lock confectionery       eric t howard
3          nycturia aqua_regia   jeffrey henderson
4                gismo Herbart      johnny cajuste